<!DOCTYPE html>
<html lang="en">
<head>
    <title>lasaschedule</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">
        <h1>LASA SCHEDULES</h1>
    </div>
    <table>
        <caption>NORMAL</caption>
        <tr>
            <th>PERIOD</th>
            <th>START</th>
            <th>END</th>
        </tr>
        <% for (var section of schedules.normal) { %>
            <tr>
                <td><%= section.period %></td>
                <td><%= section.start %></td>
                <td><%= section.end %></td>
            </tr>
        <% } %>
    </table>
    <br>
    <table>
        <caption>FRIDAY</caption>
        <tr>
            <th>PERIOD</th>
            <th>START</th>
            <th>END</th>
        </tr>
        <% for (var section of schedules.friday) { %>
            <tr>
                <td><%= section.period %></td>
                <td><%= section.start %></td>
                <td><%= section.end %></td>
            </tr>
        <% } %>
    </table>
</body>
<footer>
    Made by <a href="https://jackdavidson.tech">Jack Davidson</a>
</footer>
</html>
